<section class="bg-dark small-padding" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Honors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="list-inline">
                <ul>
                    <li><p>Han-Ying-Ju-Hua Scholarship (CNY 15,000 per Year)</p></li>
                    <li><p>Zhiyuan Honors Scholarship (CNY 5,000 per Year)</p></li>
                    <li><p>Meritorious Winner for the 2019 Interdisciplinary Contest in Modeling (Team Leader)</p></li>
                </ul>
            </ul>
        </div>
        <p></p>
    </div>
</section>
