<section class="bg-dark" id="About">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-sm-8">
                <p class='text-justify'>Hi, This is Jingwei! I am a senior student from <a href="http://en.sjtu.edu.cn/academics/schools/the-school-of-electronic-information-and-electrical-engineering/" class="text-white bg-dark">School of Electronic Information and Electrical Engineering</a>, <a href="http://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a> (SJTU), majoring in Automtion with Artificial Intelligence as special track. I am a member of <a href="http://en.sjtu.edu.cn/academics/schools/zhiyuan-college/" class="text-white bg-dark">Zhiyuan Honors Program of Engineering</a>, an elite student program affiliated to Zhiyuan College, SJTU. I am also a research intern of music at <a href="https://shanghai.nyu.edu/">New York University Shanghai</a> (NYUSH) under the supervision of <a href="https://www.cs.cmu.edu/~gxia/" class="text-white bg-dark">Prof. Gus Xia</a>. </p>

                <p class='text-justify'>I'm broadly interested in the computer music field, and my ultimate goal is to contribute to artificial music intelligence which renders better experience in creating, enjoying, and interacting with music. I've been engaged in several projects w.r.t. visiual and auditory perception, music interaction with robotics, deep music generation, etc. Currently, I'm focusing on arrangement generation via music representation learning. See my projects <a class="page-scroll" href="#Projects">here</a>.</p>

                <p class='text-justify'>Besides research, I'm a professional accordion player with 16 years of performance experience. I'm also a Bass singer at SJTU Student Choir and I have attended 20+ campus and municipal performances and contests in the past three years. In addition, I'm a member of <a href="http://www.scma.org.cn/en/" class="text-white bg-dark">Shanghai Computer Music Association (SCMA)</a>. See my performances <a class="page-scroll" href="#Media">here</a>.</p>
            </div>
            <div class="col-sm-4">
                <img src="img/zjw_profile.jpg" class="center-block img-rounded" style="width: 275px; height: auto ">
            </div>
        </div>
    </div>
</section>