<section class="bg-dark" id="About">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-sm-8">
                <p class='text-justify'>Hi, This is Xiaomei! I am now pursuing Bachelor’s Degree in ACM Honors Class of Shanghai Jiao Tong University, advised by Prof. Weinan Zhang and Prof. Yong Yu. My research interest is machine learning, reinforcement learning and their application.</p>

                <p class='text-justify'>I'm broadly interested in the computer music field, and my ultimate goal is to contribute to artificial music intelligence which renders better experience in creating, enjoying, and interacting with music. I've been doing several projects w.r.t. controllable music generation, music interaction with robotics, visiual and auditory perception, etc. Currently, I'm focusing on accompaniment generation via music representation learning. See my projects <a class="page-scroll" href="#Projects">here</a>.</p>

                <p class='text-justify'>Besides research, I'm a professional accordion player with 16 years of performance experience. I'm also a Bass singer at SJTU Student Choir and I have attended 20+ campus and municipal performances and contests in the past three years. In addition, I'm a member of <a href="http://www.scma.org.cn/en/" class="text-white bg-dark">Shanghai Computer Music Association (SCMA)</a>. See my performances <a class="page-scroll" href="#Media">here</a>.</p>
            </div>
            <div class="col-sm-4">
                <img src="img/zjw_profile.jpg" class="center-block img-rounded" style="width: 275px; height: auto ">
            </div>
        </div>
    </div>
</section>
