<section class="bg-dark" id="about">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-sm-8">
                <p class='text-justify'>Hi, This is Jingwei! I am a senior student from the School of Electronic Information and Electrical Engineering (SEIEE), Shanghai Jiao Tong University (SJTU). I am a member of Zhiyuan Honors Program of Engineering, an elite student program affiliated to Zhiyuan College, SJTU. I am also a research intern of music at New York University Shanghai under the supervision of Professor Gus Xia. </p>

                <p class='text-justify'>I am broadly interested in the computer music field, and my ultimate goal is to contribute to artificial music intelligence which renders better experience in creating, enjoying, and interacting with music. I have been engaged in several projects w.r.t. visiual and auditory perceptual problems, music interaction with robotics, deep music generation, etc. Currently, I am focusing on real-time impovisational accompaniment. See my projects here.</p>

                <p class='text-justify'>Besides research, I am a professional accordion player with 15 years of performance experience. I am also a Bass singer of SJTU Student Chior and a member of Shanghai Computer Music Association (SCMA).</p>
            </div>
            <div class="col-sm-4">
                <img src="img/zjw_profile-small.jpg" class="img-responsive center-block img-rounded" alt="">
            </div>
        </div>
    </div>
</section>